* {
    /* background-color: bisque; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------------Common style--------------*/

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: white;
    padding: 13px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}


/* ---------------Nav-bar section------------------*/
#navbar {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/*-----------------------------------------------*/