* {
    /* background-color: bisque; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------------Common style--------------*/

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: white;
    padding: 13px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: blueviolet;
    box-shadow: 0 0 10px 2px #469165;
}

/* ---------------Nav-bar section------------------*/
#navbar {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/*--------------------Banner Section------------------*/
#banner {
    width: 100%;
    height: 700px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
    margin-top: 15px;
}

.banner-content {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    color: white;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
}

#early-acccess-btn {
    padding: 10px 20px;
    color: #469165;
    background-color: white;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.paragraph {
    font-size: 18px;
    line-height: 35px;
}

#btn-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.primary {
    background-image: url(../assets/ArrowRight.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 24px;
}

.secendary {}
/* --------------------middle_section1----------------------------- */
#learning-card img {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 50%;
}

#middle_section1 {
    text-align: center;
    /* margin: 0px 120px; */
}

#div-content {
    /* margin-top: 30px; */
    padding: 40px 0;
}

#div-content h2 {
    font-size: 48px;
    font-weight: 700px;
}

#div-content p {
    font-size: 16px;
    /* line-height: 20px; */
    color: #627382;
}

.box-style {
    background-color: antiquewhite;
    padding: 65px 20px 0px 20px;
    height: 300px;
    width: 320px;
    /* padding-top: 40px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

#learning-card {
    display: flex;
    width: 1360px;
        height: 300px;
        margin: 0 auto;
        gap: 30px;
    justify-content: center;
    /* margin-bottom: 30px; */
}

.box-style p {
    font-size: 16px;
    margin-top: 10px;
    color: #627382;
}
/* ---------middle_section2 style--------------- */
#middle_section2 {
    display: flex;
    padding-top: 60px;
    width: 1360px;
    height: 300px;
    margin: 0 auto;
}

#middle_section2 #knowledge-img {
    width: 600px;
    height: 600px;
    padding-bottom: 20px;
}

#middle_section2 #section-content {
    margin-left: 100px;
    position: relative;
    top: 50%;
    bottom: 50%;
}

#middle_section2 #section-content #caption {
    font-size: 16px;
    color: #469165;
}

#middle_section2 #section-content h2 {
    font-size: 48px;
    padding-top: 20px;
}

#middle_section2 #section-content #paragraph {
    padding: 20px 0px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    font-weight: 400px;
}

#middle_section2 #section-content #list-style {
    /*Special css property for set an image as the bullet for each list item.*/
    list-style-image: url('../assets/CheckCircle.png');
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    padding-left: 20px;
}