* {
    /* background-color: bisque; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------------Common style--------------*/

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: white;
    padding: 13px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: blueviolet;
    box-shadow: 0 0 10px 2px #469165;
}

/* ---------------Nav-bar section------------------*/
#navbar {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/*--------------------Banner Section------------------*/
#banner {
    width: 100%;
    height: 700px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
    margin-top: 15px;
}

.banner-content {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    color: white;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
}

#early-acccess-btn {
    padding: 10px 20px;
    color: #469165;
    background-color: white;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.paragraph {
    font-size: 18px;
    line-height: 35px;
}

#btn-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.primary {
    background-image: url(../assets/ArrowRight.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 24px;
}

.secendary {}